.header{
    height: 80px;
    background-color: #1C2B35;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 140px;
    padding-right: 140px;
}

.header a{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 17px;
    margin-left: 36px;
}
.header a:hover{
    color: orange;
}
.logout{
    background-color: orange;
    margin-left: 10px;
    margin-right: 10px;
    border: 0;
    padding: 5px 15px 5px 15px;
    border-radius: 10px;
    font-weight: bold;
    color: white;
}

.logout:hover{
    background-color: chocolate;
}

.user-name{
    color: greenyellow;
    font-weight: 500;

}
.wellcome{
    margin-left: 10px;
}